includes:
    - vendor/rentbetter/phpstan-rules/extension.neon
    - extension.neon
    - rules.neon

parameters:
    level: max
    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
